.user-list {
  height: 100%;
  overflow: auto;
  padding-left: 20px;
  padding-top: 20px;
}

.info-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.img-msg {
  border-radius: 50%;
  width: 35px;
  margin-right: 5px;
}
.user-element {
  font-size: 15px;
  vertical-align: middle;
  display: inline;
}
